body {
	background-color: #b6b9e6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	margin: 0;
	padding: 0;
	color: #fffaa;
	line-height: 1.25;
	background-image: url(https://wpapers.ru/wallpapers/All/12612/1920x1080_%D0%A2%D0%B5%D0%BA%D1%81%D1%82%D1%83%D1%80%D0%B0-%D1%84%D0%B8%D0%BE%D0%BB%D0%B5%D1%82%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE-%D0%B4%D0%B5%D1%80%D0%B5%D0%B2%D0%B0.jpg);
}

header, footer {
	background-color: #b6b9e6;
}

.box {
	padding: 20px 15px;
	box-sizing: border-box;
	background-color: #b6b9e6;
}

.header-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	order: 1;
}

.title {
	order: 2;
	margin: 0 5px;
	text-align: center;
	width: 100%;
}

.content-box {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	text-align: center;
}

.nav-box {
	flex: 1;
	order: 1;
	margin: 20px 200px;
}

.link-box {
	flex: 1;
	order: 2;
	margin: 20px 0;
	list-style-position: inside;
}

.table-box {
	flex: 1;
	order: 4;
	padding: 5px 10px;
	text-align: center;
	border-collapse: collapse;
	margin: 20px 0;
	border: 1px solid #000;
	justify-content: center;
	margin-left: auto;
    margin-right: auto;
}

.form-box {
	flex: 1;
	order: 3;
	margin: 20px 0;
	padding: 5px 10px;
	margin-left: auto;
    margin-right: auto;
}

.img {
	max-width: 500px;
	max-heigth: 240px;
	margin: 0 auto;
}

.logo {
	width: 100px;
	height: 90px;
}

/*Flex*/

@media(min-width: 800px) {
	
	.title {
		text-align: left;
	}
	
	nav {
		display: flex;
		flex-direction: row !important;
		justify-content: center;
	}
	
	.box-width {
		max-width: 960px;
		margin: 0 auto;
	}
	
	.table-box {
		order: 3;
	}

	.form-box {
		order: 4;
	}
	
}

nav {
	display: flex;
	flex-direction: column;
}

nav a {
	padding: 5px 10px;
	color: #000;;
	display: inline-block;
}

nav a:hover {
	background-color: #555;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
}

td, th {
	text-align: center;
	border: 1px solid #000;
}

tr:nth-child(2n) {
	background-color: lightgray;
}
